<div class="breadcrumbs">
  <a onclick="window.history.back();">
    <i class="fa fa-long-arrow-left" id="back-button"></i>
    На предыдущую страницу
  </a>
</div>
<div class="check-school-form form">
  <h2>Ммм...</h2>
  <p>
    Вам больше всего подходит школьная группа. 
    <br>
    У школьной группы нет конкретного периода обучения, с другой стороны нагрузка в любом случае будет! :)
  </p>
  <p>
    Альтернативно, мы можем рассмотреть ваше желание учиться во "взрослой" группе, но там всё намного серьёзнее, дороже, требуется понимание и много практики
  </p>
  <button data-ng-click="choose('main-school');">Школьная группа это ок</button>
  <button data-ng-click="choose('choose');">Я уже взрослый, все удивляются моей серьёзности</button>
</div>