<div class="breadcrumbs small">
  <a onclick="window.history.back();">
    <i class="fa fa-long-arrow-left" id="back-button"></i>
    На предыдущую страницу
  </a>
</div>
<div class="course-form form">
  <h2>Выберите направление</h2>
  <div class="choose-course" data-ng-click="chooseCourse('Web Development');">
    <h2>Web development</h2>
    <p>
      На данный момент основное направление в Ш++
    </p>
  </div>
  <div class="choose-course" data-ng-click="chooseCourse('Android, Java');">
    <h2>Mobile development</h2>
    <p>
      Обучаем Android, Java.
    </p>
  </div>
  <div class="choose-course" data-ng-click="chooseCourse('Ремонт системных блоков');">
    <h2>Другое</h2>
    <p>
      Python, C++, Delphi, iOS и т.д...
    </p>
  </div>
</div>