<div class="green-submenu">
  <a href="#webdev" data-du-smooth-scroll>
    <div class="green-submenu-link">
      <div class="green-submenu-icon" style="left:13px;top:14px;">
        <i class="fa fa-code fa-2x"></i>
      </div>
      <span style="left: -40px;">
        Web&nbsp;Development
      </span>
    </div>
  </a>
  <a href="#android" data-du-smooth-scroll>
    <div class="green-submenu-link">
      <div class="green-submenu-icon" style="left:18px;top:13px;">
        <i class="fa fa-android fa-2x"></i>
      </div>
      <span style="left: -45px;">
        Mobile&nbsp;Development
      </span>
    </div>
  </a>
  <a href="#other-courses" data-du-smooth-scroll>
    <div class="green-submenu-link">
      <div class="green-submenu-icon other-courses-icon" id="oth-icon">
      </div>
      <span style="left: -45px;">
        Другие&nbsp;направления
      </span>
    </div>
  </a>
  <a href="#kids" data-du-smooth-scroll>
    <div class="green-submenu-link">
      <div class="green-submenu-icon" style="left:18px;top:13px;">
        <i class="fa fa-child fa-2x"></i>
      </div>
      <span style="left: -30px;">
        Для&nbsp;школьников
      </span>
    </div>
  </a>
</div>
<div class="courses-common" id="common">
  <h2>Изучайте только то, что хочется изучать</h2>
  <p class="container">
    Программирование имеет много направлений, но ученику надо определиться к чему же всё-таки у него лежит душа. Знания команды Ш++ охватывают очень разные направления, но официально мы поддерживем курсы "web-программирование" и "android-программирование" для взрослых (7 месяцев на данный момент), а также более разносторонний курс для детей.
  </p>
  <p class="container">
    От детей требуется осознанный выбор, стабильное посещение школы, желание много работать и огонь в глазах &mdash; а мы постараемся обеспечить всем необходимым &mdash; знаниями, опытом и техникой.
  </p>
</div>
<div id="webdev" class="container">
  <h2>Web development</h2>
  <p>
    Мы учим бо&#x301;льшему чем разработка сайтов.
  </p>
  <p>
    Современный web ушел далеко вперёд от HTML/PHP страничек и требует немалого багажа знаний. Наша задача &mdash; за короткие сроки передать ученику понимание front-end и back-end разработки, заставить побольше практиковать, общаться в команде, эффективно пользоваться инструментами web-разработчика.
  </p>
  <p>
    Курс делится на 3 итерации по 2 месяца. 
    Первая итерация затрагивает весь стек технологий, HTML/CSS/JS/PHP/SQL, также знакомимся с Photoshop и MVC, Потом идёт перерыв на большое домашнее задание. 
    Вторая итерация шлифует полученные знания, обучает командной работе, linux, а также Yii. 
    Третья последняя итерация нацелена на практику, Angular JS, другие фреймворки и новинки в web, и ещё раз больше практики.
  </p>
  <p>
    Курс web-разработки включает: 
  </p>
  <div class="course-logos">
    <a class="web-logo" href="https://developer.mozilla.org/ru/docs/HTML/HTML5" target="_blank">
      <span>HTML5</span>
      <i class="sprite sprite-HTML5"></i>
    </a>
    <a class="web-logo" href="https://developer.mozilla.org/ru/docs/Web/CSS/CSS3" target="_blank">
      <span>CSS3</span>
      <i class="sprite sprite-CSS3"></i>
    </a>
    <a class="web-logo" href="https://developer.mozilla.org/ru/docs/Web/JavaScript" target="_blank">
      <span>JavaScript</span>
      <i class="sprite sprite-js"></i>
    </a>
    <a class="web-logo" href="http://jquery.com/" target="_blank">
      <span>jQuery</span>
      <i class="sprite sprite-jquery"></i>
    </a>
    <a class="web-logo" href="http://git-scm.com/" target="_blank">
      <span>git</span>
      <i class="sprite sprite-git"></i>
    </a>
    <a class="web-logo" href="http://angularjs.org/" target="_blank">
      <span>AngularJS</span>
      <i class="sprite sprite-angular"></i>
    </a>
    <a class="web-logo" href="http://nodejs.org/" target="_blank">
      <span>Node.JS</span>
      <i class="sprite sprite-nodejs"></i>
    </a>
    <a class="web-logo" href="http://www.linux.org/" target="_blank">
      <span>Linux</span>
      <i class="sprite sprite-linux"></i>
    </a>
    <a class="web-logo" href="http://httpd.apache.org/" target="_blank">
      <span>Apache</span>
      <i class="sprite sprite-apache"></i>
    </a>
    <a class="web-logo" href="http://www.mysql.com/" target="_blank">
      <span>MySQL</span>
      <i class="sprite sprite-mysql"></i>
    </a>
    <a class="web-logo" href="http://php.net/" target="_blank">
      <span>PHP</span>
      <i class="sprite sprite-php"></i>
    </a>
    <a class="web-logo" href="http://www.yiiframework.com/" target="_blank">
      <span>Yii</span>
      <i class="sprite sprite-yii"></i>
    </a>
    <a class="web-logo" href="http://nginx.com/" target="_blank">
      <span>Nginx</span>
      <i class="sprite sprite-nginx"></i>
    </a>
    <a class="web-logo" href="http://www.drupal.org/" target="_blank">
      <span>Drupal</span>
      <i class="sprite sprite-drupal"></i>
    </a>  
  </div>
</div>
<div id="android" class="container">
  <h2>Mobile Development</h2>
  <p>
    Мы экспериментируем с iOS направлением, но на данный момент ведём группы по Android-разработке.

  </p>
  <p>
    Курс делится на две итерации:
  </p>
  <div class="course-part">
    <h3>Java</h3>
    <p>
      Первая итерация &mdash; небольшая, знакомит с Java, ООП, коллекциями, обработкой исключительных ситуаций, основами ввода/вывода, работой с сетью и многопоточностью.<br>
      Самая главная задача &mdash; научить <i>программировать</i> :) 
    </p>
    <p>
      Преподаватели, работающие не первый год в этом направлении &mdash; делятся опытом и проводят code review.
    </p>
  </div>
  <div class="course-part">
    <h3>Android</h3>
    <p>
      Вторая итерация намного больше и собственно нацелена на изучение программирования под ОС Android. Затрагиваются как основы так и особенности разработки под последние версии ОС. 
    </p>
    <p>
      Командная работа, изучение гайдлайнов, SQL, MVC &mdash; всё включено.
    </p>
  </div>
</div>
<div id="other-courses" class="container">
  <h2>Другие направления</h2>
  <p>
    Кроме вышеобозначенных направлений на Ш++ есть люди знающие:
  </p>
  <div class="oth-course-logos">
    <a class="oth-course-logo" href="http://www.python.org/" target="_blank">
      <i class="sprite sprite-python"></i>
      <span>Python</span>
    </a>
    <a class="oth-course-logo" href="http://ru.wikipedia.org/wiki/C_Sharp" target="_blank">
      <i class="sprite sprite-csharp"></i>
      <span>C#</span>
    </a>
    <a class="oth-course-logo" href="http://ru.wikipedia.org/wiki/Delphi_(язык_программирования)" target="_blank">
      <i class="sprite sprite-delphi"></i>
      <span>Delphi</span>
    </a>
    <a class="oth-course-logo" href="http://ru.wikipedia.org/wiki/База_данных" target="_blank">
      <i class="sprite sprite-SQL"></i>
      <span>Data&nbsp;Bases</span>
    </a>
    <a class="oth-course-logo" href="http://aws.amazon.com/" target="_blank">
      <i class="sprite sprite-AWS"></i>
      <span>AWS</span>
    </a>
    <a class="oth-course-logo" href="http://developer.apple.com/library/ios/documentation/miscellaneous/conceptual/iphoneostechoverview/Introduction/Introduction.html" target="_blank">
      <i class="sprite sprite-ios-icon"></i>
      <span>iOS</span>
    </a>
    <a class="oth-course-logo" href="http://developer.apple.com/library/ios/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html" target="_blank">
      <i class="sprite sprite-obj-c2"></i>
      <span>Objective-C</span>
    </a>
    <a class="oth-course-logo" href="http://developer.apple.com/swift/" target="_blank">
      <i class="sprite sprite-Swift"></i>
      <span>Swift</span>
    </a>
    <a class="oth-course-logo" href="http://nodejs.org/" target="_blank">
      <i class="sprite sprite-nodejs"></i>
      <span>Node.JS</span>
    </a>
    <a class="oth-course-logo" href="http://www.opengl.org/" target="_blank">
      <i class="sprite sprite-opengl-icon"></i>
      <span>OpenGL</span>
    </a>
    <a class="oth-course-logo" href="http://golang.org/" target="_blank">
      <i class="sprite sprite-golang"></i>
      <span>GoLang</span>
    </a>
    <a class="oth-course-logo" href="http://www.maxon.net/products/cinema-4d-studio" target="_blank">
      <i class="sprite sprite-CINEMA-4D"></i>
      <span>Cinema 4D</span>
    </a>
    <a class="oth-course-logo" href="http://www.adobe.com/ru/products/photoshop.html" target="_blank">
      <i class="sprite sprite-Adobe_Photoshop"></i>
      <span>Adobe&nbsp;Photoshop</span>
    </a>
    <a class="oth-course-logo" href="http://www.adobe.com/ru/products/illustrator.html" target="_blank">        
      <i class="sprite sprite-Adobe_Illustrator"></i>
      <span>Adobe&nbsp;Illustrator</span>
    </a>
    <a class="oth-course-logo" href="http://www.adobe.com/ru/products/aftereffects.html" target="_blank">
      <i class="sprite sprite-Adobe_After_Effects"></i>
      <span>Adobe&nbsp;After&nbsp;Effects</span>
    </a>
    <a class="oth-course-logo" href="http://www.arduino.cc/" target="_blank">
      <i class="sprite sprite-Arduino"></i>
      <span>Arduino</span>
    </a>
    <a class="oth-course-logo" style="clear:both" href="http://www.boost.org/" target="_blank">
      <i class="sprite sprite-boost"></i>
      <span>Boost</span>
    </a>
    <a class="oth-course-logo" href="http://bower.io/" target="_blank">
      <i class="sprite sprite-bower"></i>
      <span>Bower</span>
    </a>
    <a class="oth-course-logo" href="http://ru.wikipedia.org/wiki/C++" target="_blank">
      <i class="sprite sprite-cplus"></i>
      <span>C++</span>
    </a>
    <a class="oth-course-logo" href="http://www.docker.com/" target="_blank">
      <i class="sprite sprite-docker"></i>
      <span>Docker</span>
    </a>
    <a class="oth-course-logo" href="http://www.microsoft.com/net" target="_blank">
      <i class="sprite sprite-dotnet"></i>
      <span>.Net</span>
    </a>
    <a class="oth-course-logo" href="http://git-scm.com/" target="_blank">
      <i class="sprite sprite-git"></i>
      <span>git</span>
    </a>
    <a class="oth-course-logo" href="http://gruntjs.com/" target="_blank">
      <i class="sprite sprite-grunt"></i>
      <span>Grunt</span>
    </a>
    <a class="oth-course-logo" href="http://gulpjs.com/" target="_blank">
      <i class="sprite sprite-gulp"></i>
      <span>Gulp</span>
    </a>
    <a class="oth-course-logo" href="http://www.java.com/en/" target="_blank">
      <i class="sprite sprite-java"></i>
      <span>Java</span>
    </a>
    <a class="oth-course-logo" href="http://libav.org/" target="_blank">
      <i class="sprite sprite-libav"></i>
      <span>Libav</span>
    </a>
    <a class="oth-course-logo" href="http://www.vagrantup.com/" target="_blank">
      <i class="sprite sprite-Vagrant"></i>
      <span>Vagrant</span>
    </a>
    <a class="oth-course-logo" href="http://www.visualstudio.com/" target="_blank">
      <i class="sprite sprite-visstudio"></i>
      <span>Visual&nbsp;Studio</span>
    </a>
    <a class="oth-course-logo" href="http://www.wowza.com/" target="_blank">        
      <i class="sprite sprite-wowzalogo"></i>
      <span>Wowza</span>
    </a>
    <a class="oth-course-logo" href="http://unity3d.com/unity" target="_blank">         
      <i class="sprite sprite-Unity"></i>
      <span>Unity</span>
    </a>
  </div>
  <p style="margin-top: 0;">
    Мы очень стараемся развивать направление робототехники, закупили много деталюшек, плат, паяльную станцию, сенсоры, моторы, сервоприводы, аккумуляторы, инструменты, книги. В общем мы рады всем желающим поработать с этим добром :) 
  </p>
  <p>
    На школе есть планшеты Wacom для тех, кто хочет попробовать себя в роли цифрового художника, дизайнера, 3д-скульптора.
  </p>
  <p>
    Некоторым группам в экспериментальном режиме мы проводим занятия по техническому английскому.
  </p>
  <p>
    Телефоны и планшеты на Android, iOS, Windows 8, Windows Phone, BlackBerry Tablet OS, Firefox OS, iOS &mdash; это всё есть у нас чтобы ученик мог попробовать разные платформы. 
  </p>
  <p>
    Поэтому мы считаем что Ш++ может помочь любому человеку в его развитии, по крайней мере небольшим курированием.
  </p>
  <p>
    Не постесняйтесь написать нам свои предложения/пожелания. 
  </p>
  <p>
    Мы очень любим читать письма :) и постоянно проверяем почту.
  </p>
  <p>
    Ну или ВК напишите :)
  </p>
</div>
<div id="kids">
  <div class="leftK"></div>
  <h2>Для школьников</h2>
  <p>
    Ш++ уникальна тем, что собирает преподавателей-практиков, т.е. людей, которые с одной стороны следят за трендами ИТ индустрии, а с другой не против уделить время юному программисту и передать ему то, что не расскажет обычный преподаватель-энтузиаст. 
  </p>
  <p>
    Другая особенность в том, что в школе собрана различная техника (Arduino с большим количеством Arduino shields, паяльная станция, телефоны на Windows Phone, Firefox OS, Android, iOS, графический планшет Wacom Cintiq, ноутбуки на Windows, Linux, Mac OS X, и много другого), что само по себе ускорит рост и откроет новые возможности не-ленивым ученикам. 
  </p>
  <p>
    Обучаем мы каждого по-разному. Есть и индивидуальные занятия. Каждый преподаватель имеет свои требования к ученикам. 
  </p>
  <p>
    Наши ученики побеждали на Всеукраинском Турнире Юных Информатиков (2012), занимали третье место на конкурсе ВКонтакте по разработке Андроид-мессенджера (и ездили в СПб), первые места на областных олимпиадах и МАН. 
  </p>
  <p>
    Все команды-победители Startup Weekend 2014 имели в своём составе людей из Ш++ :)
  </p>   
  <p>
    В общем, кто склонен желать больших достижений &mdash; найдет в нас источник опыта, знаний и вдохновения.
  </p>
  <p>
    Также, нельзя не упомянуть о ежегодном фестивале "Vesna-soft", который проводится Ш++.
  </p>
  <p>
    Всё это мы делаем на энтузиазме и с верой в лучшее будущее :) потому приходите на чай, пообщаемся.
  </p>
  <div class="rightK"></div>
</div>
<div class="container" id="anketa">
  <form 
    method="POST" 
    action="" 
    name="myForm" 
    data-ng-submit="validateForm(myForm.$valid)" 
    novalidate>
    <h2>Анкета</h2>
    <label for="name">Как вас зовут?<span class="important">*</span></label>
    <input 
      type="text" 
      name="name" 
      id="name" 
      placeholder="Иванов Иван Иванович" 
      data-ng-model="anketa.name" 
      data-ng-pattern="namePattern" 
      data-ng-class="{ 'has-error' : (myForm.name.$invalid || myForm.name.$pristine) && submitted}" 
      required>
    <br>
    <label for="age">Сколько вам лет?<span class="important">*</span></label>
    <input 
      type="text" 
      name="age" 
      id="age" 
      placeholder="20 лет"
      data-ng-model="anketa.age" 
      data-ng-pattern="regAge" 
      data-ng-class="{ 'has-error' : (myForm.age.$invalid || myForm.age.$pristine) && submitted}" 
      required>
    <br>
    <label for="phone">Номер телефона?<span class="important">*</span></label>
    <input 
      type="tel" 
      name="phone" 
      id="phone" 
      placeholder="066 00 00 000"
      data-ng-model="anketa.phone" 
      data-ng-pattern="phonePattern" 
      data-ng-class="{ 'has-error' : (myForm.phone.$invalid || myForm.phone.$pristine) && submitted}" 
      required>
    <br>
    <label for="mail">Ну и email...<span class="important">*</span></label>
    <input 
      type="email" 
      name="mail" 
      id="mail" 
      placeholder="info@programming.kr.ua"
      data-ng-model="anketa.mail" 
      data-ng-pattern="emailPattern" 
      data-ng-class="{ 'has-error' : (myForm.mail.$invalid || myForm.mail.$pristine) && submitted}" 
      required>
    <br>
    <label for="letter">Ваш вопрос</label>
    <textarea 
      name="comment" 
      id="comment"
      data-ng-model="anketa.comment" 
      data-ng-pattern="regComment" 
      data-ng-class="{ 'has-error' : myForm.comment.$invalid && submitted}"></textarea>
    <br>
    <input type="submit" value="Хочу знать больше!" data-ng-click="submitted=true">
  </form>
  <h2 class="notice">
    Спасибо за заполнение анкеты!
  </h2>
</div>